@media screen and (max-width: 1250px) {  //iphone width is 390
  .navbar{
    display: none;
  }
  
  .mobile-navbar{
    display: block;
    width: 100%;
    padding: 10px 20px;
    position: fixed;
    top: 0;
    z-index: 5;
    transition: ease .8s background;

    a{
      color: $text-color;
      text-decoration: none;
      &:visited{color: $text-color}
    }

    &__header{
      &-container{
        display: flex;
        flex-direction: row;
        align-items: center;
        width: 100%;
        img{
          height: 50px;
          border-radius: 50px;
          margin-right: 15px;
        }
      }
      margin-left: 10px;
      flex-grow: 1;
    }

    &__btn{
      background: transparent;
      color: $text-color;
      border: none;
      font-size: 2rem;
    }

    &__list{
      list-style: none;
      margin: 0;
      padding: 10px ;

      &-item{
        font-size: 1.5rem;
        transition: ease .3s;
        text-align: right;
        a{
          color: $text-color;
          text-decoration: none;
          &:visited{color: $text-color}
        }
      }
    }
  }
  
  .intro{
    overflow: hidden;
    position: relative;
    // height: 175vw;
    // height: 100vh;
    height: 800px;
    background-image: url("../public/imgs/lava.png");
    background-size: cover;
    background-position: center;
    &-backgroundVid{
      display: none;
    }
    &-grid{
      grid-template-columns: 1fr;
      padding: 5vw;
      // background-image: url("../public/imgs/fire.jpeg");
      // background-size: cover;
      // background-position: center;
      h1{
        margin-top: -400px;
        grid-row: 1/2;
        grid-column: 1/2;
        font-size: 4rem;
        width: 370px;
        justify-self: center;
        align-self: center;
        text-align: center;
        @media screen and (max-width: 375px) {
          font-size: 2.5rem;
          width: 100%;
        }
      }

      .video{
        align-self:baseline;
        grid-row: 2/3;
        grid-column: 1/2;
        height: 60vw;
        width: 100%;
        margin: 0;
      }
    }
  }

  .mission{
    &-grid{
      height: 500px;
      grid-template-columns: 1fr;
      background-size: cover;
      background-position: right;
    }
    &__text{
      padding: 5vw;
      
      &-p{
        font-size: 1.5rem;
        padding: 0;
        text-align: center;
      }
      @media screen and (max-width: 375px) {
        &-header{
          font-size: 2.5rem;
        }
  
        &-p{
          font-size: 1.2rem;
        }
      }
    }
  }

  .banner{
    display: none;
  }

  .pillars{
    padding: 5vw;
      &-grid{
      grid-template-columns: 1fr;
    }
  }

  .pillar{
    padding: 20px;
    @media screen and (max-width: 375px) {
      padding: 5px;
      &__header{
        width: fit-content;
        margin: 0 auto;
        h3{
          font-size: 2.5rem;
        }
        &-icon{
          height: 50px;
          width: 50px;
          margin-right: 15px;
        }
      }
      &__text{
        font-size: 1.2rem;
      }
    }
  }

  .events{
      &-grid{
      grid-template-columns: 1fr;
      padding: 5vw; 
      // background-image: url("../public/imgs/abstract.png");
      // background-position: center;
      // background-size: cover;
    }
  }

  .team{
    &-card-grid{
      grid-template-columns: 1fr;
      @media screen and (min-width: 650px) {
        grid-template-columns: 1fr 1fr;
      }
    }
  }

  .contact{
    padding: 0;
    padding-bottom: 20px;
    &-grid{
      grid-template-columns: 1fr;
      row-gap: 20px;
    }

    &__section{
      border: none;
      padding: 0;
    }

    &__socials{
      grid-row: 3/4;
      padding-bottom: 20px;
    }

    @media screen  and (min-width: 500px){
      &-grid{
        grid-template-columns: 1fr 1fr;
      }

      &__socials{
        grid-column: 1/-1;
      }
    }
  }

  .hidden{
    display: none;
  }

  // styling for sizes between 800-1250 
  @media screen and (min-width: 800px){

    .intro {

      &-grid{
        // grid-template-rows: 350px 1fr;
      }
      .video{
        width: 80%;
        height: 100%;
      }
    }

    .pillars{
      &-grid{
        grid-template-columns: 1fr 1fr;
      }
    }

    .pillar{
      padding: 0px;
      &:nth-of-type(3){
        grid-column: 1/-1;
      }
    }

    .events{
      &-grid{
        grid-template-columns: 1fr 1fr;
      }
    }
  }
}